In [1]:
import pandas as pd
import os
import os.path

In [8]:
# Load train and test datasets
train_file = 'train.csv'
test_file = 'test.csv'
data_path = './data'

df_train = pd.read_csv(os.path.join(data_path, train_file))
df_test = pd.read_csv(os.path.join(data_path, test_file))

In [20]:
# First look into data

# Missing data
print("Missing data:\n\n", df_train.isnull().sum(axis=0))
df_train[df_train['Qualification'].isnull()]

Missing data:

 EmployeeNo                                0
Division                                  0
Qualification                          1679
Gender                                    0
Channel_of_Recruitment                    0
Trainings_Attended                        0
Year_of_birth                             0
Last_performance_score                    0
Year_of_recruitment                       0
Targets_met                               0
Previous_Award                            0
Training_score_average                    0
State_Of_Origin                           0
Foreign_schooled                          0
Marital_Status                            0
Past_Disciplinary_Action                  0
Previous_IntraDepartmental_Movement       0
No_of_previous_employers                  0
Promoted_or_Not                           0
dtype: int64

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
15,YAK/S/00022,Customer Support and Field Operations,NaN,Male,Direct Internal process,2,1980,10.0,2008,0,0,49,RIVERS,Yes,Married,No,No,1,0
22,YAK/S/00033,Commercial Sales and Marketing,NaN,Female,Direct Internal process,2,1997,2.5,2017,0,0,40,EDO,Yes,Married,No,No,1,0
28,YAK/S/00044,Commercial Sales and Marketing,NaN,Male,Agency and others,4,1997,5.0,2017,0,0,40,CROSS RIVER,Yes,Married,No,No,1,0
60,YAK/S/00091,Commercial Sales and Marketing,NaN,Female,Direct Internal process,2,2001,0.0,2018,0,0,47,ZAMFARA,Yes,Single,No,No,2,0
137,YAK/S/00190,Customer Support and Field Operations,NaN,Female,Agency and others,2,1988,10.0,2010,0,0,56,LAGOS,Yes,Single,No,No,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38212,YAK/S/54656,Information and Strategy,NaN,Male,Agency and others,3,1996,10.0,2016,0,0,75,LAGOS,Yes,Married,No,No,0,0
38223,YAK/S/54672,Information and Strategy,NaN,Male,Direct Internal process,2,1994,7.5,2017,0,0,76,OSUN,Yes,Married,No,No,0,0
38236,YAK/S/54693,Commercial Sales and Marketing,NaN,Female,Direct Internal process,2,1986,7.5,2012,0,0,45,EDO,Yes,Married,No,No,0,0
38262,YAK/S/54730,People/HR Management,NaN,Female,Agency and others,2,1993,7.5,2017,0,0,45,RIVERS,Yes,Married,No,No,1,0
38310,YAK/S/54807,Commercial Sales and Marketing,NaN,Male,Direct Internal process,2,1992,2.5,2017,0,0,37,KWARA,Yes,Married,No,No,1,0